<section class="app-container">
  <header>
    <mat-toolbar color="primary">
      GDV DL
    </mat-toolbar>
  </header>
  <section class="content-container">
<div class="caption">
  <img decoding="async"
       src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Gesamtverband_der_Deutschen_Versicherungswirtschaft_logo.svg/640px-Gesamtverband_der_Deutschen_Versicherungswirtschaft_logo.svg.png">
  <h1>Welcome to the GDV DL Chatbot!</h1>
  <h1>I am an AI Chat-bot developed by <a href="https://www.gdv-dl.de/"> GDV DL.</a></h1>
</div>
<div class="container">
  <div class="card">
    <div class="chat-list" #chatListContainer>
      <ng-container *ngFor="let item of chatMessages">
        <div class="chat-item"
             [ngClass]="{'right' : item?.user?.id == human.id, 'left': item?.user?.id != human.id}">
          <img id="avatar" [src]="item?.user?.profileImageUrl">
          <p id="message-body">{{item?.message}}</p>
        </div>
      </ng-container>
    </div>
    <div class="chat-footer">
      <input matInput id="chat-textarea" [(ngModel)]="chatInputMessage" required>
      <button id="send-button" (click)="send()" [disabled]="chatInputMessage === ''">
        Send
      </button>
    </div>
  </div>
</div>
<div class="caption">
  <button id="clear-button" (click)="clearConversation()" >
    Clear conversation
  </button>
</div>
<app-footer></app-footer>
