* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.toolbar-item-spacer {
  flex: 1 1 auto;
}

.toolbar-position-fixed {
  position: fixed;
}

/*.mat-toolbar {
  background: teal;
  color: #fff
}*/



